<div class="alert alert-success" ng-if="uploaded === true">
    <p translate>Your file has been uploaded.</p>
</div>

<div class="form-group">
    <input type="text"  placeholder="title" ng-model="data.title" class="form-control">
</div>

<div class="form-group">
    <input type="text"  placeholder="description" ng-model="data.description" class="form-control">
</div>

<div class="form-group">
    <input type="file" id="file"  ng-model="file" >
</div>

<div class="form-group">
    <input type="checkbox" ng-model="data.is_public">Check to allow others to see this file
</div>

<button type="submit" class="btn btn-default" translate>Upload</button>
